.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

.next
.cache
yarn-error.log

# Temporary experiment, don't check in
libmdx

# TODO: This is a bit crude, but suits our purposes for now while everything
# is in docker upstream of this repository
*/**/build-state.yml
*/**/yarn-rc.js
.yarnrc.yml
.yarn
