.DS_Store

preview_url.txt

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

.next
.cache
yarn-error.log

# Temporary experiment, don't check in
libmdx

# TODO: This is a bit crude, but suits our purposes for now while everything
# is in docker upstream of this repository
*/**/build-state.yml
# */**/yarn-rc.js
.yarnrc.yml

.yarn/*
!.yarn/releases
!.yarn/plugins

# .yarn/*
# .yarn/*

# Check in the release/plugin directories to ensure consistency
# This also allows CI services like dependabot to run without needing ./setup.sh
# (although setup.sh can still be useful to run locally)
# !.yarn/releases/yarn-berry.js
# !.yarn/plugins/*
