* {
  scrollbar-width: thin;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  overflow-y: auto;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 10px;
}

.main-content::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  opacity: 0;
}

/* sidebar scrollbar should be color of content area */
.sgr-sidebar--root::-webkit-scrollbar-track {
  background: #fff;
}

.sgr-sidebar--root::-webkit-scrollbar-thumb {
  background: #fff;
}

.sgr-sidebar--root::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.sgr-sidebar--root:hover::-webkit-scrollbar-thumb {
  background: #888;
}

/* pre scrollbar should be color of pre */
pre::-webkit-scrollbar-track {
  background: #36668d;
}

/* generic hoverable scrollbar class */
.white-scrollbar-hover::-webkit-scrollbar-track {
  background: #fff;
}

.white-scrollbar-hover::-webkit-scrollbar-thumb {
  background: #fff;
}

.white-scrollbar-hover::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.white-scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background: #888;
}

/* Make sure no scrollbars show up in responsive mode sidebar
   (phones don't have scrollbars, but shrinking desktop
   browser window shouldn't have scrollbars either) */
@media (max-width: 768px) {
  .sgr-sidebar--root ul::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }

  .sgr-sidebar--root ul::-webkit-scrollbar-thumb {
    background: initial;
    border-radius: initial;
  }

  .sgr-sidebar--root ul::-webkit-scrollbar-track {
    background: initial;
    border-radius: initial;
  }

  .sgr-sidebar--root ul {
    scrollbar-width: none !important;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
}

.no-underline {
  text-decoration: none !important;
}
